@charset "utf-8";
/* CSS Document */
body{
	background-color:#3C3C46;
	padding:0px;
	margin:0px;
	height:700px;
}
img{
	border:0px;}
a{
	text-decoration:none;
	font-size:14px;
	font-family:"微软雅黑";
	color:#FFF;}
div{
	padding:0px;
	margin:0px auto;
}
.left{
	float:left;
}
.right{
	float:right;
}

/*顶部css*/
.top_main{
	width:100%;
	background-color:#3C3C46;
	height:40px;
	position:fixed;
	}
.top_main_main{
	width:1000px;
	background-color:#069;}
.top_main_main1{
	width:90px;}
.top_main_main2{
	margin-left:10px;
	height:40px;
	width:70px;}
.top_main_main3{
/*	background-color:#0F6;*/
	height:40px;
	margin-left:20px;
	width:253px;}
.top_main_main3_m{
	background-color:#6D6E73;
	margin:5px;
	height:28px;
	border:#2B2B33 1px solid;
	}
.top_main_main3_m_left{
	background-color:#6D6E73;
	margin:4px 3px;
	height:20px;
	width:40px;
	}
#top_stype{
	text-align:center;
	width:40px;
	background-color:#6D6E73;
	border:0px;
	}
.top_main_main3_m_left:hover div{
	display:block;
	}
.top_main_main3_m_middle{
	width:154px;
	height:28px;}
.top_input{
	background-color:#6D6E73;
	width:154px;
	margin:1px 0px;
	height:24px;
	list-style:none;
	border:0px;
	font-size:20px;
	color:#FFF;}
.top_stype_hide{
	padding-top:6px;
	background-color:#6D6E73;
	position:relative;
	display:none;
	text-align:center;
	color:#333;
	left:-3px;
	top:0px;
	width:50px;
	height:120px;}
.top_stype_hide div{
	width:50px;
	height:30px;
	float:left;
	line-height:30px;}
.top_main_main3_m_right{
	margin:4px;
	border-left:#222 2px solid;
	width:30px;
	height:20px;}
.top_main_main2:hover div{
	display:block;
	}
.top_main_main2_hide{
	margin:0px;
	padding:0px;
	width:186px;
	height:200px;
	background-color:#232329;
	position:relative;
	top:0px;
	left:0px;
	display:none;
	}
.top_main_main2_hide a{
	text-decoration:none;
	line-height:50px;
	font-size:16px;
	color:#FFF;
	font-weight:500;
	font-family:"微软雅黑";
	}
.top_main_main2_hide div{
	text-align:center;
	width:93px;
	height:50px;}
.top_main_main2_hide div:hover{
	background-color:#9C9;}
.top_user{
	margin-left:100px;

	width:400px;
	height:40px;}
.top_user a{
	text-decoration:none;
	color:#FFF;
	font-weight:500;
	font-size:18px;}
.top_user div{
	padding:0px 10px;
	line-height:40px;
	float:left;}
.top_user div:hover{
	background-color:#34343E;
	}
.top_main4{
	margin-left:400px;
	margin-right:0px;
	width:130px;
	height:40px;
	line-height:40px;
	}
.top_wen{
	width:100px;
	margin-left:0px;}
.top_main4 a{
	color:#FFF;
	text-decoration:none;
	font-size:18px;}
.top_wen:hover div{
	display:block;}
.top_wen_hide{
	background-color:#34343E;
	width:80px;
	height:180px;
	display:none;
}
.top_wen_hide a{
	text-decoration:none;
	font-size:16px;
	color:#FFF;
	font-weight:500;
	font-family:"微软雅黑";
	line-height:36px;
	}
.top_wen_hide div{
	text-align:center;
	width:80px;
	height:36px;}
/*照片墙*/
.black{
	background-color:#000;
	width:950px;
	height:480px;
	padding-top: 40px;
}
.black_top{
	width:950px;
	height:50px;
}
.middle{
	background-color:#FFF;
	width:900px;
	height:398px;
	padding-top:10px;
}
.black_top_font_big{
	font-size:22px;
	color:#C8C8C6;
	font-weight:700;
	float:left;
	font-family:Calibri;
	margin-left:70px;
	margin-top:10px;
}
.black_top_join{
	margin-left:5px;
	margin-top:8px;
	float:left;
}
.black_top_join img{
	border: 0px;
	width: "156px";
	height: "33px";
}
.black_top_font_little{
	float:left;
	color:#C8C8C6;
	font-family:"微软雅黑";
	font-size:12px;
	margin-left:5px;
	margin-top:15px;
}
.wite_middle{
	width:890px;
	height:385px;
/*	background-color:#906;*/
	padding-left:5px;
}
.photo{
	float:left;
	width:118px;
	height:118px;
	padding:3px;
	border-radius:5px;
}
.photo:hover div{
	display: block; 
}
.pohto_hide{
	display:none;
	font-size:12px;
	height:118px;
	width:118px;
	background-color:gray;
	position: relative;
	top:-118px;
}
.pohto_hide div{
	width: 118px;
	height: 40px;
}
.photo_h1{
	font-size:20px;
	line-height: 40px;
}
.photo_h2{
	font-size: 12px;
	line-height: 20px;
}
.photo img{
	width:118px;
	height:118px;
	border-radius:5px;}
/*照片墙*/
/*底部介绍等*/
.bottom{
	width:930px;
	height:61px;
	background-color:#4c535b;
}
.bottom_font{
	font-size:14px;
	font-family:"微软雅黑";
	color:#FFF;
	padding-top:15px;
}
/*底部介绍等*/
.span_text{
	width:80px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	}