<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>5sing</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.chinasoft.fsing.dbutil.DataSourceListenner</listener-class>
  </listener>
  <filter>
    <display-name>CharacterFilter</display-name>
    <filter-name>CharacterFilter</filter-name>
    <filter-class>com.chinasoft.fsing.filters.CharacterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerLoginServlet</display-name>
    <servlet-name>ManagerLoginServlet</servlet-name>
    <servlet-class>com.chinasoft.fsing.servlets.ManagerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerLoginServlet</servlet-name>
    <url-pattern>/ManagerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SongTypeServlet</display-name>
    <servlet-name>SongTypeServlet</servlet-name>
    <servlet-class>com.chinasoft.fsing.servlets.SongTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SongTypeServlet</servlet-name>
    <url-pattern>/manager/SongTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllSongType</display-name>
    <servlet-name>ShowAllSongType</servlet-name>
    <servlet-class>com.chinasoft.fsing.servlets.ShowAllSongType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllSongType</servlet-name>
    <url-pattern>/manager/ShowAllSongType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateManager</display-name>
    <servlet-name>UpdateManager</servlet-name>
    <servlet-class>com.chinasoft.fsing.servlets.UpdateManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateManager</servlet-name>
    <url-pattern>/manager/UpdateManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArtTypeServlet</display-name>
    <servlet-name>ArtTypeServlet</servlet-name>
    <servlet-class>com.chinasoft.fsing.servlets.ArtTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtTypeServlet</servlet-name>
    <url-pattern>/manager/ArtTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerSong</display-name>
    <servlet-name>ManagerSong</servlet-name>
    <servlet-class>com.chinasoft.fsing.servlets.ManagerSong</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerSong</servlet-name>
    <url-pattern>/manager/ManagerSong</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.chinasoft.fsing.servlets.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/manager/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerSongInfo</display-name>
    <servlet-name>ManagerSongInfo</servlet-name>
    <servlet-class>com.chinasoft.fsing.servlets.ManagerSongInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerSongInfo</servlet-name>
    <url-pattern>/manager/ManagerSongInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerAlbum</display-name>
    <servlet-name>ManagerAlbum</servlet-name>
    <servlet-class>com.chinasoft.fsing.servlets.ManagerAlbum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerAlbum</servlet-name>
    <url-pattern>/manager/ManagerAlbum</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.chinasoft.fsing.servlets.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchOneUserInfo</display-name>
    <servlet-name>searchOneUserInfo</servlet-name>
    <servlet-class>com.chinasoft.fsing.servlets.searchOneUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchOneUserInfo</servlet-name>
    <url-pattern>/user/searchOneUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserIndex</display-name>
    <servlet-name>UserIndex</servlet-name>
    <servlet-class>com.chinasoft.fsing.servlets.UserIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserIndex</servlet-name>
    <url-pattern>/user/UserIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserCollection</display-name>
    <servlet-name>UserCollection</servlet-name>
    <servlet-class>com.chinasoft.fsing.servlets.UserCollection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCollection</servlet-name>
    <url-pattern>/user/UserCollection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.chinasoft.fsing.servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>UserLoginFilter</display-name>
    <filter-name>UserLoginFilter</filter-name>
    <filter-class>com.chinasoft.fsing.filters.UserLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserLoginFilter</filter-name>
    <url-pattern>/user/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>ManagerLoginFilter</display-name>
    <filter-name>ManagerLoginFilter</filter-name>
    <filter-class>com.chinasoft.fsing.filters.ManagerLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ManagerLoginFilter</filter-name>
    <url-pattern>/manager/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.chinasoft.fsing.listeners.OnLineUser</listener-class>
  </listener>
  <listener>
    <listener-class>com.chinasoft.fsing.listeners.OnLineManager</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>TuiChu</display-name>
    <servlet-name>TuiChu</servlet-name>
    <servlet-class>com.chinasoft.fsing.servlets.TuiChu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TuiChu</servlet-name>
    <url-pattern>/TuiChu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.chinasoft.fsing.servlets.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSong</display-name>
    <servlet-name>UserSong</servlet-name>
    <servlet-class>com.chinasoft.fsing.servlets.UserSong</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSong</servlet-name>
    <url-pattern>/UserSong</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MV</display-name>
    <servlet-name>MV</servlet-name>
    <servlet-class>com.chinasoft.fsing.servlets.MV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MV</servlet-name>
    <url-pattern>/MV</url-pattern>
  </servlet-mapping>
</web-app>