<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "log4j.dtd">  
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
<!-- ========================== 自定义输出格式说明================================ -->
      <!-- %p 输出优先级，即DEBUG，INFO，WARN，ERROR，FATAL -->
      <!-- %r 输出自应用启动到输出该log信息耗费的毫秒数  -->
      <!-- %c 输出所属的类目，通常就是所在类的全名 -->
      <!-- %t 输出产生该日志事件的线程名 -->
      <!-- %n 输出一个回车换行符，Windows平台为“/r/n”，Unix平台为“/n” -->
      <!-- %d 输出日志时间点的日期或时间，默认格式为ISO8601，也可以在其后指定格式，比如：%d{yyy MMM dd HH:mm:ss,SSS}，输出类似：2002年10月18日 22：10：28，921  -->
      <!-- %l 输出日志事件的发生位置，包括类目名、发生的线程，以及在代码中的行数。举例：Testlog4.main(TestLog4.java:10)  -->
      <!-- ========================================================================== -->

      <!-- ========================== 输出方式说明================================ -->
      <!-- Log4j提供的appender有以下几种:  -->
      <!-- org.apache.log4j.ConsoleAppender(控制台),  -->
      <!-- org.apache.log4j.FileAppender(文件),  -->
      <!-- org.apache.log4j.DailyRollingFileAppender(每天产生一个日志文件), -->
      <!-- org.apache.log4j.RollingFileAppender(文件大小到达指定尺寸的时候产生一个新的文件),  -->
      <!-- org.apache.log4j.WriterAppender(将日志信息以流格式发送到任意指定的地方)   -->
  <!-- ========================================================================== -->
  	<!-- 控制台appender -->
	<appender name="sample-log-console" class="org.apache.log4j.ConsoleAppender"> 
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="%d %-5p [%t] [%l] %m%n"/>  
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
       		<param name="LevelMin" value="ERROR"/>
       		<param name="LevelMax" value="ERROR"/>
       	</filter>
    </appender>
    <!-- 默认的appender -->
    <appender name="default.log" class="org.apache.log4j.RollingFileAppender">
    	<param name="File" value="${catalina.home}/MyLog/default.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="10MB"/>
        <param name="MaxBackupIndex" value="3"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] [%l] %m%n"/>
        </layout>
    </appender>
    <!-- 实体类的appender -->
    <appender name="entity.log" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${catalina.home}/MyLog/entity.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="10MB"/>
        <param name="MaxBackupIndex" value="3"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] [%l] %m%n"/>
        </layout>
    </appender> 
    <!-- 过滤error信息 -->
    <appender name="FileErrorInfo" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${catalina.home}/MyLog/error.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="10MB"/>
        <param name="MaxBackupIndex" value="3"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] [%l] %m%n"/>
        </layout>
       	<filter class="org.apache.log4j.varia.LevelRangeFilter">
       		<param name="LevelMin" value="ERROR"/>
       		<param name="LevelMax" value="ERROR"/>
       	</filter>
    </appender>
     <!-- 实体类的包 -->
    <category name="entity" additivity="false">
    	<priority value="INFO"></priority>
    	<appender-ref ref="entity.log"/>
    	<appender-ref ref="FileErrorInfo"/>
    	<appender-ref ref="sample-log-console"/>
    </category>
    <logger name="logger-test" additivity="false">
    	<level value="DEBUG"></level>
    	<appender-ref ref="sample-log-console"/>
    	<appender-ref ref="FileErrorInfo"/>
    </logger>
    
	<root>  
        <level value="DEBUG"/> 
        <appender-ref ref="default.log"/>
        <appender-ref ref="FileErrorInfo"/>
        <appender-ref ref="sample-log-console"/>
    </root>
    
    <!-- hibernate设置 -->
    <logger name="logger.org.hibernate.type">
    	<level value="TRACE"></level>
    	<appender-ref ref="hibernate"/>
    </logger>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder">
    	<level value="TRACE"></level>
    	<appender-ref ref="hibernate"/>
    </logger>
	<logger name="org.hibernate.type.descriptor.sql.BasicExtractor">
		<level value="TRACE"></level>
		<appender-ref ref="hibernate"/>
	</logger>
	<logger name="log4j.logger.org.hibernate.sql">
		<level value="DEBUG"></level>
		<appender-ref ref="hibernate"/>
	</logger>
	<logger name="org.hibernate.hql">
		<level value="DEBUG"></level>
		<appender-ref ref="hibernate"/>
	</logger>
	<appender name="hibernate" class="org.apache.log4j.RollingFileAppender">
    	<param name="File" value="${catalina.home}/MyLog/hibernate.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="10MB"/>
        <param name="MaxBackupIndex" value="1"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] [%l] %m%n"/>
        </layout>
    </appender>
</log4j:configuration>